/*================= ARTICLE ========================*/

.popup
{
    background-color: black;
    transition: all 0.5s;
    margin: 1rem;
    width: min-content;
    z-index: 0;
}

.popup:hover
{
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0.25px 0.25px 8px 2px white, -0.25px -0.25px 8px 2px white;
}

.popup video
{
    object-fit: fill;
}

.popup p
{
    font-weight: bold;
    padding: 0.5rem;
    width: 100%;
    width: auto;
}

.popup img, .popup video, .popupInner img, .popupInner video
{
    width: 12rem;
    height: 8.25rem;
}

  
@media (min-width: 420px)
 {
    .popup img, .popup video, .popupInner img, .popupInner video
    {
        width: 13rem;
        height: 9.25rem;
    }

    .popup
    {
        background-color: black;
        transition: all 0.5s;
        margin: 1rem;
    }
}

@media (min-width: 1280px) 
{
    .popup img, .popup video, .popupInner img, .popupInner video
    {
        width: 20rem;
        height: 14rem;
    }
}

/*================= POPUP ========================*/

.popupBackground
{
    position: fixed;
    background-color: rgba(0, 0, 0, .2);
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.popupMain
{
    margin: 0% 10%;
}

.popupInner, .popupInnerClosing
{
    margin-top: 5%;
    padding: 1em 0em;
}

.popupInner
{
    transform: scale(0);
    animation: 0.3s ease-out 0s 1 forwards Expand;
}

.popupInnerClosing
{
    transform: scale(1);
    animation: 0.3s ease-out 0s 1 forwards Contract;
}

@keyframes Expand
{
    0% 
    {
      transform: scale(0);
    }
    100% 
    {
        transform: scale(1);
    }
}

@keyframes Contract
{
    0% 
    {
      transform: scale(1);
    }
    100% 
    {
        transform: scale(0);
    }
}

.popupInner article, .popupInnerClosing article
{
    padding: 0% 5%;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2%;
}

.joinLink, .errorLink
{
    margin: 1rem 0rem 0rem 0rem;
}

.joinLink:hover
{
    cursor: pointer;
}

.errorLink
{
    color:red;
    text-decoration: line-through;
}

.errorLink:hover
{
    transform: scale(1);
    color:red;
}

.popupInner p, .popupInnerClosing p
{
    margin: 2rem 0rem;
    overflow-y: scroll;
    height: 10rem;
    padding: 0rem 1rem;
    text-align: justify;
    -webkit-scrollbar-track: black;
}

.popupInner hr, .popupInnerClosing hr
{
    width: 100%;
    padding: 0;
}

.closeBtnContainer
{
    position: relative;
    width: 10%;
    height: 10%;
    margin: 0rem 0rem 2rem 0rem;
}

.closeBtnContainer img
{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border: none !important;
    transition: all 0.3s ease-in-out;
}

.closeBtn
{
    opacity: 1;
}

.closeBtn:hover
{
    opacity: 0;
}

.closeBtnContainer .closeBtnHovered 
{
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    opacity: 0;
  }

  .closeBtnHovered:hover 
  {
    opacity: 1;
  }

.popupInner img, .popupInner video, .popupInnerClosing img, .popupInnerClosing video
{
    width: 15rem;
    height: 10.5rem;
    border: 1px solid #61dafb;
    border-radius: 10px;
}

.popupInner video
{
    object-fit: fill;
}

@media (min-width: 420px)
{
   .popupInner img, .popupInner video, .popupInnerClosing img, .popupInnerClosing video
   {
       width: 20rem;
       height: 14rem;
   }
}

@media (min-width: 720px)
 {
    .popupInner img, .popupInner video, .popupInnerClosing img, .popupInnerClosing video
    {
        width: 30rem;
        height: 21rem;
    }

    .popupInner p, .popupInnerClosing p
    {
        height: 8rem;
    }

    .popupInner, .popupInnerClosing
    {
        margin-top: 1%;
        padding: 1em 0em;
    }

    .popupInner
    {
        transform: scale(0);
        animation: 0.3s ease-out 0s 1 forwards Expand;
    }

    .popupInnerClosing
    {
        transform: scale(1);
        animation: 0.3s ease-out 0s 1 forwards Contract;
    }
}

@media (min-width: 1280px) 
{
    .popupInner img, .popupInner video, .popupInnerClosing img, .popupInnerClosing video
    {
        width: 40rem;
        height: 28rem;
    }
}