.LanguagesDropdown
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem 10rem 0%;
    float: right;
    width: 8rem;       /*Galère 6: Les pourcentages, c'est de la merde.*/
}

.LanguagesDropdown p
{
    width: 4rem;
}

.LanguagesDropdown img
{
    margin-top: 3px;
    margin-left: 1px;
    width: 90%;
    height: 90%;
    border-radius: 5%;
}

.LanguagesDropdown img:hover
{
    transform: scale(1.1)
}

.LanguagesDropdown div:hover
{
    cursor: pointer;
}

.LanguagesDropdown path
{
    color: #61dafb;
}

.LanguagesDropdown > div 
{
    margin: 0% 0% 0% 15%;
}

.LanguagesDropdown > div > div
{
    border-color: #131313;
    border-radius: 4px;
    border-style: solid;
    border-width: 3px;
}

.LanguagesDropdown > div > div:hover
{
    border-color: #1383A9;
    border-radius: 4px;
    border-style: solid;
    border-width: 3px;
}


.LanguagesDropdown div
{
    padding: 0;
    background-color: #333333;
}

.css-1hb7zxy-IndicatorsContainer, .css-1fdsijx-ValueContainer
{
    background-color: #333333;
}

.css-1u9des2-indicatorSeparator
{
    display: none;
}

.css-1nmdiq5-menu /*C'est bien de la merde le react-select.*/
{
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.LanguageFlag
{
    background-color: #333333;
    position: relative;
    z-index: 1;
}

@media (min-width: 721px) {
    .LanguagesDropdown
    {
        width: 12rem;
    }

    .LanguagesDropdown img
    {
        margin-left: 4px;
    }
}