nav
{
    background-color: black;
}

ul
{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0px;
    padding: 1.5% 0%;
    font-size: x-large;
}

nav a               /* Galère 2: Le display: flex annule les modifs sur le transform (donc pas de transform: scale())*/
{
    color: white;
    text-decoration: none;
    transition: .3s;
    transform-origin: initial;
    display: inline-block;
    -webkit-transform: scale(1); /* Chrome, Safari, Opera */
    transform: scale(1);
}

a:hover
{
    -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2); 
    color: #61dafb;
}