hr
{
    border: 0;
    border-top: 1px solid #61dafb;
    margin-bottom: 20px;
    margin-top: 20px;
}

footer > p
{
    width: 80%;
    line-height: 25px;
    margin: 0% auto; /*Galère 3: Un simple margin: 0% auto et un width d'un percentage suffit à centrer*/
    text-align: center;
}

@media (min-width: 721px) {
    footer > p
    {
        width: 50%;
    }
}