section
{
    margin: 2% 6%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

/* ASIDE */

section aside
{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    flex-basis: 8rem;
    animation: 1.2s ease-out 0s 1 slideFadeInLeft;
}

@keyframes slideFadeInLeft 
{
    0% {
      transform: translateX(-500%);
      opacity: 0%;
    }
    100% {
      transform: translateX(0);
      opacity: 100%;
    }
}

 /* ARTICLE */

.Contacts article
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: 1s ease-out 0s 1 slideFadeInRight;
}

@keyframes slideFadeInRight
{
    0% {
      transform: translateX(100%);
      opacity: 0%;
    }
    100% {
      transform: translateX(0);
      opacity: 100%;
    }
}

section article address
{
    margin: 1% 0%;
}

section article p
{
    margin: 0.2rem;
}

section a
{
    transition: all 0.3s;
    color: #6495ed;
    font-style: normal;
    text-decoration: none;
}

section a:hover
{
    /*color: #df8011;*/
    color: #61dafb;
}

.iconGmail
{
    width: 4.5rem;
    height: 2.5rem;
}

.iconItchIo
{
    width: 5rem;
    height: 1.5rem;
}

.iconLinkedin
{
    width: 4.5rem;
    height: 3.5rem;
}